@blue: #2A317F;
@light-blue: #0085c6;
@light-grey: #F6F6F6;
@dark-grey: #DDDDDD;
@white: #FFFFFF;
@yellow: #E5AA09;
@black: #111111;

/* LAYOUT */

body {
	background: @light-grey;
}
#wrapper {
	background: @white;
	box-shadow: 20px 0 20px -20px #ccc, -20px 0 20px -20px #ccc;
	min-height: 600px;
	/* padding: 0 0 100px; */

	header {
		background: @blue;
		border-bottom: 20px solid @blue;
		color: @white;
		display: block;
		height: 140px;
		line-height: 24px;
		padding: 20px;
		
		#logo {
			border: 1px solid @white;
			height: 95px;
		}
		a:not(.btn) {
			color: @white !important;
			
			&:hover {
				color: @light-blue !important;
			}
		}
	}
	#content {
		padding: 20px;
	}
	footer {
		background: #dedede;
		border-top: 1px solid @dark-grey;
		color: @black;
		font-size: 12px;
		margin-top: 100px;
		padding: 20px;
	}
}

/* VARIE */

img {
	max-width: 100% !important;
}
a.back {
	border-bottom: 1px solid @dark-grey;
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 5px 0 12px;
	
	&::before {
		content: "\f053";
		display: inline-block;
		font-family:'FontAwesome' !important;
		margin-right: 10px;
	}
}
.infobox {
	background: @light-blue;
	color: @white;
	font-size: 15px;
	line-height: 18px;
	margin: 20px 0 0;
	padding: 20px 50px 20px 20px;
	position: relative;
	width: 90%;
	
	&::after {
		content: "\f05a";
		font-family:'FontAwesome' !important;
		font-size: 32px;
		position: absolute;
		right: 10px;
		top: 13px;
		z-index: 50;
	}
	&.alert {
		margin: 0;
		
		&::after {
			content: "\f071";
		}
		input[type=checkbox] {
			display: inline-block;
			margin-right: 10px;
		}
		label {
			cursor: pointer;
			display: inline-block;
		}
		a.btn {
			display: none;
		}
	}
	p {
		margin: 0;
	}
}
fieldset {
	background: @blue;
	color: @white;
	display: block;
	margin-bottom: 20px;
	padding: 20px;
	width: 90%;
	
	p {
		margin: 0;
	}
	a {
		color: @white;
		
		&:hover {
			color: @light-blue;
		}
	}
}
table.info {
	background: @white;
	border: 0;
	box-shadow: none;
	width: auto;
	
	td {
		background: @white;
		border: 0;
		color: @black;
	}
	tr {
		border-bottom: 1px solid @dark-grey;
		
		td:first-of-type {
			background: @light-grey;
			font-weight: 600;
		}
		&.evidence td {
			background: @blue;
			color: @white;
		}
	}
}

/* TYPOGRAPHY */

a {
	color: @light-blue;
}
* {
	font-family: 'Open Sans', sans-serif !important;
}
li {
	list-style-type: square;
	
	span {
		color: @yellow;
	}
}
i.fa {
	display: inline-block;
	font-family:'FontAwesome' !important;
	margin-right: 10px;
}
h1, h2, h3, h4, h5, h6 {
	color: @blue;
}
h1 {
	color: @light-blue;
	margin-bottom: 40px;
	padding-left: 10px;
	
	img {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}
}
h4 {
	margin: 0;
	margin-bottom: 20px;
}

/* HOMEPAGE */

#login_box {
	background: @light-grey;
	border-bottom: 10px solid @light-blue;
	padding: 40px;
	position: relative;
	
	&::after {
		color: @blue;
		content: "\f023";
		display: block;
		font-family:'FontAwesome' !important;
		font-size: 100px;
		position: absolute;
		right: -30px;
		top: 20px;
		z-index: 50;
	}
	form {
		input {
			border: 1px solid @dark-grey;
			clear: both;
			display: block;
			font-size: 16px;
			margin-bottom: 20px;
			max-width: 600px;
			padding: 5px 10px;
		}
	}
}

/* ADMIN */

form.admin {
	.row > .c6:nth-of-type(2) {
		border-left: 1px solid @blue;
		padding: 0 0 40px 20px;
	}
	input[type="text"], input[type=file], input[type=password], textarea, select {
		border: 1px solid @dark-grey;
		clear: both;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 5px 10px;
		width: 90%;
	}
	textarea {
		min-height: 200px;
	}
	input[type=checkbox] {
		display: inline-block;
		margin-right: 10px;
	}
	ul {
		li {
			list-style-type: none;
		}
	}
	label {
		cursor: pointer;
		display: inline-block;
	}
}