/**
 * IVORY Framework
 * Developed by Lakshmikanth Vallampati - kanth.vallampati@gmail.com
 * Licensed under Free Domain
 */

/* ---- HTML RESET ---- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
body { font-size:100%; line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ---- Clearfixes ---- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* ---- GRID Layout ---- */
*{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
body{margin:0 auto; color:#666666;}
.grid{margin:0 auto; max-width:100%; width:100%;} /* You can choose the grid 1200 or 1140 or 1024 or 960 as per your requirement */
.g1600{margin:0 auto; max-width:1600px; width:100%;}
.g1400{margin:0 auto; max-width:1400px; width:100%;}
.g1200{margin:0 auto; max-width:1200px; width:100%;}
.g1140{margin:0 auto; max-width:1140px; width:100%;}
.g1024{margin:0 auto; max-width:1024px; width:100%;}
.g960{margin:0 auto; max-width:960px; width:100%;}
.row{width:100%; margin:0 auto;}
.c05 {width:4.16%;}
.c1{width:8.33%;}
.c2{width:16.66%;}
.c3{width:25%;}
.c4{width:33.33%;}
.c5{width:41.66%;}
.c55{width:45.83%;}
.c6{width:50%;}
.c65{width:54.16%;}
.c7{width:58.33%;}
.c8{width:66.66%;}
.c9{width:75%;}
.c10{width:83.33%;}
.c11{width:91.66%;}
.c12{width:100%; min-height:1px; float:left; position:relative;}
.c1-5{width:20%;}/* This column can be used as a one fifth of the row */
.c1-8{width:12.5%;}/* This column can be used as a one eigth of the row */ 
.c05,.c1,.c2,.c3,.c4,.c5,.c55,.c6,.c65,.c7,.c8,.c9,.c10,.c11,.c1-5,.c1-8 {min-height:1px; float:left; padding-left:10px; padding-right:10px; position:relative;}
.c05.first,.c1.first,.c2.first,.c3.first,.c4.first,.c5.first,.c55.first,.c6.first,.c65.first,.c7.first,.c8.first,.c9.first,.c10.first,.c11.first,.c1-5.first,.c1-8.first {
	padding-left: 0; position:relative;
}
.c05.last,.c1.last,.c2.last,.c3.last,.c4.last,.c5.last,.c55.last,.c6.last,.c65.last,.c7.last,.c8.last,.c9.last,.c10.last,.c11.last,.c1-5.last,.c1-8.last {
	padding-right: 0; position:relative;
}

/* ---- Alignments ---- */
.centered{float: none; margin: auto;}
.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.space-htop {margin-top: 10px;}
.space-top {margin-top: 20px;}
.space-top40 {margin-top: 40px;}
.space-top60 {margin-top: 60px;}
.space-top80 {margin-top: 80px;}
.space-top100 {margin-top: 100px;}
.space-hbot {margin-bottom: 10px;}
.space-bot {margin-bottom: 20px;}
.space-bot40 {margin-bottom: 40px;}
.space-bot60 {margin-bottom: 60px;}
.space-bot80 {margin-bottom: 80px;}
.space-bot100 {margin-bottom: 100px;}

/* ---- Typography ---- */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: none; 
	font-style: normal; 
	color: #333333;
	text-rendering: optimizeLegibility; 
	line-height: 1.1; 
	margin-bottom: 10px; 
	margin-top: 10px; 
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 80%; color: #333333; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration:none; }
h1 {font-size: 36px; line-height: 48px;}
h2 {font-size: 32px; line-height: 42px;}
h3 {font-size: 28px; line-height: 36px;}
h4 {font-size: 24px; line-height: 32px;}
h5 {font-size: 21px; line-height: 27px;}
h6 {font-size: 18px; line-height: 27px;}

a {color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover {color: #333333; }
a:focus {color: #333333; outline: none; }

p {margin-bottom: 10px; padding:0; font-size: 14px; line-height: 28px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
p span {color: #46aae3; }
p a, p a:visited {line-height: inherit; }

blockquote, blockquote p{color: #6F6F6F; font-size: 14px; line-height: 24px; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
blockquote{border-left: 1px solid #DDDDDD; padding: 0 10px; margin-bottom: 10px;}
blockquote cite{color: #555555; display: block; font-size: 12px;}
blockquote cite:before{content: "- ";}

sub, sup {font-size: 60%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 70%; line-height: inherit; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px 0 20px; height: 0; }

/* ---- Lists ---- */
ul, ol, dl { 
	font: normal 14px/24px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
	margin-bottom: 8px; 
	list-style-position: inside; 
	text-indent: 5px; 
	color: #333333; 
}
ul li ul, ul li ol { margin-left: 15px; margin-bottom: 0; }
ul.square {list-style-type: square;}
ul.circle {list-style-type: circle;}
ul.disc {list-style-type: disc;}
ul.no-bullet { list-style: none; }
ul.square li ul, ul.circle li ul, ul.disc li ul, ul.no-bullet li ul {margin-left: 15px; }
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }
dl dt{font-size:16px; line-height: 24px;}
dl dd{margin-left: 15px;}

/* ---- Forms ---- */
.vform {width: 100%; max-width: 320px;}
.hform {width: 100%; max-width: 420px;}
.vform, .hform {margin-bottom: 20px; font:14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333;}

.vform label {width: 100%; margin-bottom: 5px; }
.hform label {width: 40%; margin-bottom: 10px; }
.vform label, .hform label {font-size: 14px; line-height: 21px; vertical-align: middle; display: block; float: left; text-align: left;}

.vform textarea, .vform input[type="text"], .vform input[type="password"], .vform input[type="datetime"], .vform input[type="datetime-local"], .vform input[type="date"], 
.vform input[type="month"], .vform input[type="time"], .vform input[type="week"], .vform input[type="number"], .vform input[type="email"], .vform input[type="url"], 
.vform input[type="tel"], .vform input[type="color"], .vform select{
	width: 100%;
}
.hform textarea, .hform input[type="text"], .hform input[type="password"], .hform input[type="datetime"], .hform input[type="datetime-local"], .hform input[type="date"], 
.hform input[type="month"], .hform input[type="time"], .hform input[type="week"], .hform input[type="number"], .hform input[type="email"], .hform input[type="url"], 
.hform input[type="tel"], .hform input[type="color"], .hform select {
	width: 60%;
}

.vform textarea, .vform input[type="text"], .vform input[type="password"], .vform input[type="datetime"], .vform input[type="datetime-local"], .vform input[type="date"], 
.vform input[type="month"], .vform input[type="time"], .vform input[type="week"], .vform input[type="number"], .vform input[type="email"], .vform input[type="url"], 
.vform input[type="tel"], .vform input[type="color"], .vform select, .vform input[type=file],
.hform textarea, .hform input[type="text"], .hform input[type="password"], .hform input[type="datetime"], .hform input[type="datetime-local"], .hform input[type="date"], 
.hform input[type="month"], .hform input[type="time"], .hform input[type="week"], .hform input[type="number"], .hform input[type="email"], .hform input[type="url"], 
.hform input[type="tel"], .hform input[type="color"], .hform select, .hform input[type=file] {
	display: block;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px 10px;
	vertical-align: middle;
	outline: none;	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	transition: border linear 0.4s, box-shadow linear 0.4s;
	-o-transition: border linear 0.4s, box-shadow linear 0.4s;
	-moz-transition: border linear 0.4s, box-shadow linear 0.4s;
	-webkit-transition: border linear 0.4s, box-shadow linear 0.4s;
	margin-bottom: 10px;
	font-size: 13px; 
	line-height: 21px; 
	height: 30px;
} 
.vform input[type="text"]:focus, .vform input[type="password"]:focus, .vform input[type="datetime"]:focus, .vform input[type="email"]:focus,
.vform input[type="datetime-local"]:focus, .vform input[type="date"]:focus, .vform input[type="month"]:focus, .vform input[type="time"]:focus, 
.vform input[type="week"]:focus, .vform input[type="url"]:focus, .vform input[type="number"]:focus, .vform input[type="search"]:focus, .vform input[type="tel"]:focus, 
.vform textarea:focus,
.hform textarea:focus, .hform input[type="text"]:focus, .hform input[type="password"]:focus, .hform input[type="datetime"]:focus, 
.hform input[type="datetime-local"]:focus, .hform input[type="date"]:focus, .hform input[type="month"]:focus, .hform input[type="time"]:focus, 
.hform input[type="week"]:focus, .hform input[type="number"]:focus, .hform input[type="email"]:focus, .hform input[type="url"]:focus, .hform input[type="search"]:focus, 
.hform input[type="tel"]:focus, .hform input[type="color"]:focus{
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8);
	color: #444;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(81, 168, 236, 0.5);
}
.vform textarea, .hform textarea{min-height: 120px; }
.vform fieldset, .hform fieldset {margin-bottom: 10px; }
.vform input[type="file"], .hform input[type="file"] {overflow: none;}
/* conjoined inputs */
.vform span.pre, .hform span.pre, .vform span.post, .hform span.post {
	display: block;	
	background-color: #f2f2f2; 
	border: 1px solid #cccccc;
	color: #222222;
	font-size: 13px; 
	line-height: 18px;
	height: 30px;
	position: relative;
	padding: 5px 10px;
}
.vform span.pre, .hform span.pre{margin-right: -1px; float: left;	}
.vform span.post, .hform span.post{margin-left: -1px; float: left;}
.vform input.post, .hform input.post, .vform span.pre, .hform span.pre{
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}
.vform input.pre, .hform input.pre, .vform span.post, .hform span.post{
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}
.vform input.pre, .vform input.post{width:75%; float:left; height: 30px;}
.hform input.pre, .hform input.post{width:45%; float:left; height: 30px;}
.vform input.pre-post{width: 70%; float: left; height: 30px; border-radius: 0;}
.hform input.pre-post{width: 40%; float: left; height: 30px; border-radius: 0;}
.vform span[type="submit"].post, .hform span[type="submit"].post, .vform span[type="submit"].pre, .hform span[type="submit"].pre{
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #efefef);
	background-image: -ms-linear-gradient(top, #f9f9f9, #efefef);
	background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#efefef');
}
.vform span[type="submit"].post:hover, .hform span[type="submit"].post:hover, .vform span[type="submit"].pre:hover, .hform span[type="submit"].pre:hover{
	background:#eee;
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#f8f8f8));
	background:-moz-linear-gradient(top, #eee, #f8f8f8);
}

/* ---- Buttons ---- */
a.btn, button{
	display:inline-block;*display:inline;
	padding:7px 20px;
	margin-bottom:10px;*margin-left:.3em;
	font-size:14px;
	line-height:20px;*line-height:20px;
	color:#333 !important;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	/* border:1px solid #dedede;*border:0; */
	/* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
	/* border-color:#eeeeee,#dedede,#dedede; */
	/* border-radius:4px; */
	/* -o-border-radius:4px; */
	/* -ms-border-radius:4px; */
	/* -moz-border-radius:4px; */
	/* -webkit-border-radius:4px; */
	/* background-color: #f5f5f5; */
	/* background-image: linear-gradient(top, #f9f9f9, #efefef); */
	/* background-image: -ms-linear-gradient(top, #f9f9f9, #efefef); */
	/* background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);   */
	/* background-image: -webkit-linear-gradient(top, #f9f9f9, #efefef); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#efefef'); */
}
a.btn:hover, button:hover, a.btn:active, button:active{
	/* background:#eee; */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#f8f8f8)); */
	/* background:-moz-linear-gradient(top, #eee, #f8f8f8); */
}
button.large{padding:10px 35px; font-size:15px;}
button.small{padding:3px 13px; font-size:13px;}

button.skyblue{ /* --- skyblue color button --- */
	color:#fff !important;
	background-color:#26a2b6;
	/* background: linear-gradient(#34bac9, #26a2b6); */
	/* background: -o-linear-gradient(#34bac9, #26a2b6); */
	/* background: -ms-linear-gradient(#34bac9, #26a2b6); */
	/* background: -moz-linear-gradient(#34bac9, #26a2b6); */
	/* background: -webkit-linear-gradient(#34bac9, #26a2b6); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#34bac9), to(#26a2b6)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#34bac9', EndColorStr='#26a2b6'); */
}
button.skyblue:hover, button.skyblue:active{
	background:#26a2b6;
	/* background:-moz-linear-gradient(top, #26a2b6, #34bac9); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#26a2b6), to(#34bac9)); */
}

a.btn.blue, button.blue{ /* --- blue color button --- */
	color:#fff !important;
	background-color:#0085c6;
	/* background: linear-gradient(#008fd5, #0085c6); */
	/* background: -o-linear-gradient(#008fd5, #0085c6); */
	/* background: -ms-linear-gradient(#008fd5, #0085c6); */
	/* background: -moz-linear-gradient(#008fd5, #0085c6); */
	/* background: -webkit-linear-gradient(#008fd5, #0085c6); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#008fd5), to(#0085c6)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#008fd5', EndColorStr='#0085c6'); */
}
a.btn.blue:hover, button.blue:hover, a.btn.blue:active, button.blue:active{
	background:#008fd5;
	/* background:-moz-linear-gradient(top, #008fd5, #009de9); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#008fd5), to(#009de9)); */
}

a.btn.green, button.green{ /* --- green color button --- */
	color:#fff !important;
	background-color: #51A351;
	/* background: linear-gradient(#62C462, #51A351); */
	/* background: -o-linear-gradient(#62C462, #51A351); */
	/* background: -ms-linear-gradient(#62C462, #51A351); */
	/* background: -moz-linear-gradient(#62C462, #51A351); */
	/* background: -webkit-linear-gradient(#62C462, #51A351); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#51A351', EndColorStr='#51A351'); */
}
a.btn.green:hover, button.green:hover, a.btn.green:active, button.green:active{
	background: #51A351;
	/* background: -moz-linear-gradient(top, #51A351, #5FA351); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#51A351), to(#5FA351)); */
}

a.btn.yellow, button.yellow{ /* --- yellow color button --- */
	color:#fff !important;
	background-color:#f0bf4a;
	/* background: linear-gradient(#f0c930, #f0bf4a); */
	/* background: -o-linear-gradient(#f0c930, #f0bf4a); */
	/* background: -ms-linear-gradient(#f0c930, #f0bf4a); */
	/* background: -moz-linear-gradient(#f0c930, #f0bf4a); */
	/* background: -webkit-linear-gradient(#f0c930, #f0bf4a); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#f0c930), to(#f0bf4a)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0c930', EndColorStr='#f0bf4a'); */
}
a.btn.yellow:hover, a.btn.yellow:active, button.yellow:hover, button.yellow:active{
	background:#f0bf4a;
	/* background:-moz-linear-gradient(top, #f0bf4a, #f0c930); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#f0bf4a), to(#f0c930)); */
}

a.btn.orange, button.orange{ /* --- orange color button --- */
	color:#fff !important;
	background-color:#ff5c00;
	/* background: linear-gradient(#ff6f40, #ff5c00); */
	/* background: -o-linear-gradient(#ff6f40, #ff5c00); */
	/* background: -ms-linear-gradient(#ff6f40, #ff5c00); */
	/* background: -moz-linear-gradient(#ff6f40, #ff5c00); */
	/* background: -webkit-linear-gradient(#ff6f40, #ff5c00); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#ff6f40), to(#ff5c00)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff6f40', EndColorStr='#ff5c00'); */
}
a.btn.orange:hover, button.orange:hover, a.btn.orange:active, button.orange:active{
	background:#ff5c00;
	/* background:-moz-linear-gradient(top, #ff5c00, #ff6f40); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#ff5c00), to(#ff6f40)); */
}

a.btn.red, button.red{ /* --- red color button --- */
	color:#fff !important;
	background-color:#bd362f;
	/* background: linear-gradient(#bd362f, #b1322c); */
	/* background: -o-linear-gradient(#bd362f, #b1322c); */
	/* background: -ms-linear-gradient(#bd362f, #b1322c); */
	/* background: -moz-linear-gradient(#bd362f, #b1322c); */
	/* background: -webkit-linear-gradient(#bd362f, #b1322c); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#bd362f), to(#b1322c)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bd362f', EndColorStr='#b1322c'); */
}
a.btn.red:hover, button.red:hover, a.btn.red:active, button.red:active{
  background:#bd362f;
  /* background:-webkit-gradient(linear, left top, left bottom, from(#bd362f), to(#cc3b34)); */
  /* background:-moz-linear-gradient(top, #bd362f, #cc3b34); */
}

button.magenta{	/* --- magenta color button --- */
	color:#fff !important;
	background-color:#b9298f;
	/* background: linear-gradient(#b93180, #b9298f); */
	/* background: -o-linear-gradient(#b93180, #b9298f); */
	/* background: -ms-linear-gradient(#b93180, #b9298f); */
	/* background: -moz-linear-gradient(#b93180, #b9298f); */
	/* background: -webkit-linear-gradient(#b93180, #b9298f); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#b93180), to(#b9298f)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b9298f', EndColorStr='#b9298f'); */
}
button.magenta:hover, button.magenta:active{
	background:#b9298f;
	/* background:-moz-linear-gradient(top, #b9298f, #b9358f); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#b9298f), to(#b9358f)); */
}

button.black{ /* --- black color button --- */
	color:#fff !important;
	background-color:#111;
	/* background: linear-gradient(#333, #111); */
	/* background: -o-linear-gradient(#333, #111); */
	/* background: -ms-linear-gradient(#333, #111); */
	/* background: -moz-linear-gradient(#333, #111); */
	/* background: -webkit-linear-gradient(#333, #111); */
	/* background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111)); */
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333', EndColorStr='#111'); */
}
button.black:hover, button.black:active{
	background:#222;
	/* background:-moz-linear-gradient(top, #222, #333); */
	/* background:-webkit-gradient(linear, left top, left bottom, from(#222), to(#333)); */
}

/* ---- Alerts ---- */
.alert {
	padding: 10px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fcf8e3;
	border: 1px solid #fbeee0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.success {color: #468847; background-color: #dff0d8; border-color: #d6e9c6;}
.error {color: #b94a48; background-color: #f2dede; border-color: #eed3d7;}
.info {color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1;}

/* ---- Table ---- */
table {
	width: 100%; 
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border: solid #ccc 1px;
	border-left: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 2px #d1d1d1;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
}   
td, th {border-top: 1px solid #ccc; border-left: 1px solid #ccc; padding: 10px; text-align: left;}
th {
	background-color: #f0f0f0;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-size: 14px; 
	line-height: 24px;
	text-align: center;
}
td{font-size:14px;}
table tr:first-child th:first-child{
	    border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}
table tr:first-child th:last-child{
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
table tr:last-child td:first-child{
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
table tr:last-child td:last-child{
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
table tr.even td{background-color: #fafafa;}

/* ---- Pagination ---- */
.pagin ul {list-style: none; margin: 0; padding: 0;}
.pagin li {display: inline;}
.pagin a {
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 1px 2px;
	padding: 5px 10px 5px 5px;
	display: inline-block;
	border-top: 1px solid #fff;
	text-decoration: none !important;
	color: #333 !important;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: white 0 1px 0;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
}
.pagin a:hover, .pagin a:focus {
	border-color: #fff;
	background-color: #fdfdfd;
	background-image: linear-gradient(top, #fefefe, #fafafa);
	background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
	background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
	background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');  
}
.pagin a.more {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 0 none !important;
	background: transparent !important;
	margin-left: 0;
	margin-right: 0;
}
.pagin-dark a {
	border-top: 1px solid #575e63;
	text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
	color: #fff !important;
	background-color: #4e5458;
	background-image: linear-gradient(top, #575e63, #3f4347);
	background-image: -ms-linear-gradient(top, #575e63, #3f4347);
	background-image: -moz-linear-gradient(top, #575e63, #3f4347);
	background-image: -webkit-linear-gradient(top, #575e63, #3f4347);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347');
}
.pagin-dark a:hover, .pagin-dark a:focus {
	border-color: #575e63;
	background-color: #4d6374;
	background-image: linear-gradient(top, #567062, #3e505e);
	background-image: -ms-linear-gradient(top, #567062, #3e505e);
	background-image: -moz-linear-gradient(top, #567062, #3e505e);
	background-image: -webkit-linear-gradient(top, #567062, #3e505e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#567062', EndColorStr='#3e505e');
}
.pagin a, .pagin-dark a {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.pagin a.active, .pagin-dark a.active {
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
	border-color: #2d3035 !important;
	color: #fff !important;
	text-shadow: black 0 1px 0;
	background-color: #303338;
	background-image: linear-gradient(top, #303338, #2d3034);
	background-image: -ms-linear-gradient(top, #303338, #2d3034);
	background-image: -moz-linear-gradient(top, #303338, #2d3034);
	background-image: -webkit-linear-gradient(top, #303338, #2d3034);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034');
}

/* ---- Tooltip ---- */
.tooltip{display: inline; position: relative; color: #2ba6cb;}
.tooltip:hover:before
{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 21px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 97;
}
.tooltip:hover:after
{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	bottom: 27px;
	font-size: 12px;
	color: #fff;
	content: attr(title);
	padding: 5px;
	position: absolute;
	z-index: 98;
	width: 180px;
	margin-left: -50px;
}

/* ---- Breadcrumb ---- */
.breadcrumb {
	padding: 10px;
	font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f5f5f5;
	background-image: linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
	background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);  
	background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
	border: 1px solid #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {display: inline-block; text-shadow: 0 1px 0 #ffffff;}
.breadcrumb .divider {padding: 0 5px; color: #777;}

/* ---- Toggle Switches ---- */
.switch {
	position: relative;
	margin: 20px auto;
	height: 34px;
	width: 100%;
	max-width: 320px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(0, 0, 0, 0.1);
}
.switch-label {
	position: relative;
	z-index: 2;
	float: left;
	color: #fff;
	width: 50%;
	text-align: center;
	cursor: pointer;
	font: 12px/32px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.switch-input {display: none;}
.switch-input:checked + .switch-label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.65);
	text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-webkit-transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {left: 50%;}
.switch-selection {
	display: block;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 50%;
	height: 30px;
	background: #65bd63;
	background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
	background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
	background-image: -o-linear-gradient(top, #9dd993, #65bd63);
	background-image: linear-gradient(to bottom, #9dd993, #65bd63);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-webkit-transition: left 0.15s ease-out;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
}
.switch-blue .switch-selection {
	background: #3aa2d0;
	background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
	background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
	background: #c4bb61;
	background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
	background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
	background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);	
	background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}                                 

/* ---- Tabs ---- */
.tab-container{ position: relative; display: block; height:280px; width: 100%; padding:1px 0; }
.tab-container .tab-radio{ display: none;}
.tab-container .tab{
	display: block;
	float: left;
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #cfd2d7;
	border-bottom: none;
	color: #888;
	margin-top: -15px;
	margin-right: 1.0%;
	padding: 5px 20px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background-color: #eee;
	font: 14px/25px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.tab-container .tab-radio:checked ~ .tab, .tab-container .tab-radio:active ~ .tab{background-color: #fff; z-index: 100; border-bottom: 1px solid #fff;}
.tab-container .tab-radio:checked ~ .tab {background-color:#fff; color:#333;}
.tab-container .tab-page
{
	visibility: hidden;
	width: 100%; height: auto;
	font: 14px/25px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	background-color: #fff;
	color: #888;
	display:block;
	position: absolute;
	top: 22px;
	float: left;
	padding: 10px;
	border: 1px solid #cfd2d7;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.tab-container .tab-radio:checked ~ .tab-page { visibility: visible; display: block; height: auto}

/* ---- Accordion ---- */
.accordion {
    width: 100%;
    background: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
            
}
.accordion p {height:0; margin-bottom:0px; padding:0; color: #888; overflow:hidden;}
.accordion a{
	display:block; 
	height:auto; 
	padding:5px; 
	line-height:28px; 
	background-color: #eee; 
	color:#333; 
	text-decoration:none; 
	text-align:center; 
	border-bottom:1px solid #aaa;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.accordion a:hover, .accordion a:focus {opacity:.9; color:#000;}
.accordion a:active {color:#000;}
.accordion :target + p{
	margin: 0 2px;
	padding:10px 15px; 
	height:auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
}	

/* Media query for 960 Screens - sets nested grids to 100% */
@media only screen and (max-width:960px){
	.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12,.row .row .c1-5,.row .row .c1-8{width:100%;margin-bottom:20px;margin-left:0px;margin-right:0px; }
	.row .row > div:last-child{margin-bottom:0 !important}
}

/* Media query for iPad and tablets */
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait){
	body{font-size:90%}
	.row{margin-bottom:0!important}
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,.c1-5,.c1-8{width:100%;margin-right:0;margin-left:0;margin-bottom:20px; padding:0 10px;}
	.c1.first,.c2.first,.c3.first,.c4.first,.c5.first,.c6.first,.c7.first,.c8.first,.c9.first,.c10.first,.c11.first,.c1-5.first,.c1-8.first {
		padding-left: 10px; position:relative;
	}
	.c1.last,.c2.last,.c3.last,.c4.last,.c5.last,.c6.last,.c7.last,.c8.last,.c9.last,.c10.last,.c11.last,.c1-5.last,.c1-8.last {
		padding-right: 10px; position:relative;
	}
}
