body {
	background: #fff !important;
	font-size: 10px !important;
	line-height: 10px !important;
	padding: 40px;
}
#pdf_title_table, #pdf_title_table tr, #pdf_title_table td {
	border: 0 !important;
}
.poll_info {
	font-size: 10px !important;
	line-height: 10px !important;
}
h1 {
	font-size: 14px !important;
	line-height: 14px !important;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 14px !important;
	line-height: 14px !important;
	margin-top: 0;
}
h5 {
	font-size: 12px !important;
	margin: 10px 0 0 !important;
}
td, th {
	font-size: 10px !important;
	line-height: 10px !important;
	padding: 2px 5px !important;
}
th {
	height: 20px !important;
}