* {
	transition: all 300ms;
}
body {
	background: #f6f6f6
}
.clear {
	clear: both;
	display: block;
	float: none;
	min-height: 1px;
	width: 100%;
}
#wrapper {
	background: #fff;
	box-shadow: 20px 0 20px -20px #ddd,-20px 0 20px -20px #ddd;
	min-height: 600px;
	max-width: 1920px !important;
}
#wrapper header {
	background: #2a317f;
	border-bottom: 20px solid #2a317f;
	color: #fff;
	display: block;
	height: 140px;
	line-height: 24px;
	padding: 20px
}
#wrapper header #logo {
	border: 1px solid #fff;
	height: 95px
}
#wrapper header a: not(.btn) {
	color: #fff!important
}
#wrapper header a: not(.btn): hover {
	color: #0085c6!important
}
#wrapper #content {
	padding: 20px
}
#wrapper footer {
	background: #dedede;
	border-top: 1px solid #ddd;
	clear: both;
	color: #111;
	font-size: 12px;
	margin-top: 100px;
	padding: 20px;
}
img {
	max-width: 100%!important
}
a.back {
	border-bottom: 1px solid #ddd;
	display: block;
	float: left;
	font-weight: 600;
	padding: 10px 20px;
	width: 320px;
}
a.back.home {
	background: #555;
	color: #fff;
}
a.back::before {
	content: "\f053";
	display: inline-block;
	font-family: FontAwesome!important;
	margin-right: 10px
}
.infobox {
	background: #0085c6;
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	margin: 20px 0 0;
	padding: 20px 50px 20px 20px;
	position: relative;
	width: 95%
}
.infobox::after {
	content: "\f05a";
	font-family: FontAwesome!important;
	font-size: 32px;
	position: absolute;
	right: 10px;
	top: 13px;
	z-index: 50
}
.infobox.alert {
	margin: 0
}
.infobox.alert::after {
	content: "\f071"
}
.infobox.alert input[type=checkbox] {
	display: inline-block;
	margin-right: 10px
}
.infobox.alert label {
	cursor: pointer;
	display: inline-block
}
.infobox.alert a.btn {
	display: none
}
.infobox p {
	margin: 0
}
fieldset {
	background: #2a317f;
	color: #fff;
	display: block;
	margin-bottom: 20px;
	padding: 20px;
	width: 95%
}
fieldset p {
	margin: 0
}
fieldset a, fieldset a:hover, fieldset a:visited {
	color: #fff !important;
}
fieldset a: hover {
	color: #0085c6
}

.detail_form fieldset {
	background: #eee;
	width: 98%;
	border-radius: 15px;
	padding-top: 65px;
	position: relative;
}
.detail_form fieldset legend {
	color: #333;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	font-weight: 900;
	background: #ddd;
	display: block;
	width: 100%;
	padding: 10px 20px;
	border-radius: 15px 15px 0 0;
	text-transform: uppercase;
}

table.info {
	background: #fff;
	border: 0;
	box-shadow: none;
	width: auto
}
table.info td {
	background: #fff;
	border: 0;
	color: #111
}
table.info tr {
	border-bottom: 1px solid #ddd
}
table.info tr td: first-of-type {
	background: #f6f6f6;
	font-weight: 600
}
table.info tr.evidence td {
	background: #2a317f;
	color: #fff
}
table td.actions i {
	color: #333;
	font-size: 20px;
}
a {
	color: #0085c6
}
* {
	font-family: 'Open Sans',sans-serif!important
}
li {
	list-style-type: square
}
li span {
	color: #e5aa09
}
i.fa {
	display: inline-block;
	font-family: FontAwesome!important;
	margin-right: 10px
}
h1,h2,h3,h4,h5,h6 {
	color: #2a317f
}
h1 {
	color: #0085c6;
	margin-bottom: 20px;
	padding-left: 10px
}
h1 img {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle
}
h4 {
	margin: 0 0 20px
}
h6 {
	font-weight: bold;
}
h6 span {
	background: #2a317f;
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	font-weight: 200;
	margin-left: 50px;
	padding: 0 10px;
}
h6 span a, h6 span a:hover {
	color: #fff !important;
}
h6 span i.fa {
	margin-right: 5px;
}

#login_box {
	background: #f6f6f6;
	border-bottom: 10px solid #0085c6;
	margin: 40px 0 60px;
	padding: 40px;
	position: relative
}
#login_box::after {
	color: #2a317f;
	content: "\f023";
	display: block;
	font-family: FontAwesome!important;
	font-size: 100px;
	position: absolute;
	right: -30px;
	top: 20px;
	z-index: 50
}
#login_box form input {
	border: 1px solid #ddd;
	clear: both;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	max-width: 600px;
	padding: 5px 10px
}
form.admin .row>.c6: nth-of-type(2) {
	border-left: 1px solid #2a317f;
	padding: 0 0 40px 20px
}
form.admin input[type=text],
form.admin input[type=number],
form.admin input[type=file],
form.admin input[type=password],
form.admin input[type=date],
form.admin textarea,
form.admin select,
#users_list select {
	border: 1px solid #ddd;
	clear: both;
	color: #555;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 95%
}
form.admin label.txtInput {
	border-left: 5px solid #ddd;
	color: #111;
	display: block;
	font-weight: 600;
	/* margin-bottom: 5px; */
	padding: 0 0 3px 5px;
	position: relative;
}
form.admin label.calc::after {
	color: #000;
	content: "\f1ec ";
	display: inline-block;
	font-family: 'FontAwesome';
	margin-left: 10px;
}
form.admin textarea {
	min-height: 200px;
}
form.admin input[type=checkbox] {
	/* display: inline-block; */
	float: left;
	margin-right: 10px
}
form.admin ul li {
	list-style-type: none
}
form.admin label,
#users_list label {
	cursor: pointer;
	display: inline-block
}

#doc_filter_form {
	margin-bottom: 15px;
	padding: 0 0 10px;
}
#doc_filter_form input, #doc_filter_form select {
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
	color: #111;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
}

#overlay {
	background: rgba(0,0,0,0.5);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 998;
}
.form_del_wrapper {
	background: #fff;
	border-bottom: 10px solid #2A317F;
	display: block;
	height: auto;
	left: 50%;
	margin-left: -350px;
	margin-top: -200px;
	padding: 40px;
	position: absolute;
	top: 50%;
	width: 700px;
	z-index: 999;
}
.form_del_wrapper * {
	color: #333 !important;
	font-size: 18px !important;
	line-height: 24px !important;
}
.form_del_wrapper h4, .form_del_wrapper h4 span {
	color: #2A317F !important;
	font-size: 22px !important;
	font-weight: bold !important;
}
.form_del_wrapper h4 span {
	color: #0085C6 !important;
 }
.form_del_wrapper button, .form_del_wrapper a.btn {
	color: #fff !important;
}
#overlay, .form_del_wrapper {
	display: none;
}

#alert_box {
	background: #f6f6f6;
	margin-bottom: 20px;
	padding: 20px;
	width: 95%;
}

p.note {
	color: #d90000;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.2em;
	position: relative;
}

li.unread {
	font-weight: 600;
	list-style-type: none;
	padding-left: 25px;
	position: relative;
}
li.unread a {
	color: green;
}
/*
li.unread::before {
	color: green;
	content: "\f138";
	font-family: 'FontAwesome';
	font-size: 22px;
	left: -2px;
	position: absolute;
	top: 0;
}
*/

/* AGGIORNAMENTI 2020 */

#logout_btn {
	background: #fff;
}
h4 {
	margin: 0 0 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 26px;
}
*.btn, button {
	border: 0 !important;
	border-radius: 0 !important;
}
.btn.darkblue {
	background: #2A317F;
	color: #fff;
}
.btn.darkblue * {
	color: #fff !important;
}
#docs_list li, #users_list li, .docs_list_exp li {
	background: #f6f6f6;
	/* border: 2px solid #eee; */
	float: left;
	height: 150px;
	line-height: 18px;
	list-style-type: none;
	margin: 0 10px 10px 0;
	overflow: hidden;
	padding: 15px;
	position: relative;
	text-indent: 0;
	width: calc(33.33% - 10px);
	word-wrap: break-word;
}
#users_list li {
	background: #cedfed;
	border: 0;
	height: 120px;
	/* text-align: center; */
	/* width: calc(20% - 10px); */
}
#users_list li::after,
.user_item::after {
	bottom: 5px;
	color: #fff;
	content: attr(data-rank);
	font-size: 20px;
	font-weight: 600;
	left: auto;
	opacity: 1;
	position: absolute;
	right: 5px;
	/* transform: rotate(-90deg); */
	/* transform-origin: left; */
	z-index: 100;
}
#users_list li.not_active::after {
	color: #ccc;
}
#users_list li.admin {
	background: #fff8d1;
}
#users_list li.not_active {
	background: #f6f6f6 !important;
}
#users_list li.not_active .name {
	color: #aaa;
}
#users_list li.not_active::before,
#users_list li.admin::before {
	color: #aaa;
}
#docs_list li::before,
#users_list li::before,
.docs_list_exp li::before {
	color: #aaa;
	content: "\f016";
	display: block;
	font-family: 'FontAwesome' !important;
	font-size: 80px;
	right: 10px;
	top: 40px;
	z-index: 0;
	position: absolute;
	opacity: 0.2;
}
#users_list li::before {
	color: #fff;
	content: "\f007";
}
#docs_list li .name,
#users_list li .name,
.docs_list_exp .name {
	font-size: 16px !important;
	font-weight: 600;
	display: block;
	margin: 0;
}
#users_list li .name {
	height: 20px;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
ul.list.users_list li span.service {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
ul.list li span.job {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
#docs_list li i.fa,
#users_list li i.fa,
.docs_list_exp li i.fa {
	color: #000;
	display: inline-block;
	font-size: 18px;
	margin: 0 6px 5px 0;
	text-align: center;
	width: 20px;
}
li span {
	color: #2A317F;
	font-weight: 200;
}
#users_list ul.pagination,
#docs_list ul.pagination,
.docs_list_exp ul.pagination {
	clear: both;
	width: 100%;
}
#users_list ul.pagination li,
#docs_list ul.pagination li,
.docs_list_exp ul.pagination li {
	background: #555;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 0 3px 0 0;
	padding: 0;
	text-align: center;
	width: 20px;
}
#users_list ul.pagination li a,
#docs_list ul.pagination li a,
.docs_list_exp ul.pagination li a {
	color: #fff;
}
#users_list ul.pagination li.active,
#docs_list ul.pagination li.active,
.docs_list_exp ul.pagination li.active {
	background: #008FD5;
}

#view_downloads_list {
	color: #fff;
}
#info_span {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}
#downloads_list {
	background: #f6f6f6;
	border: 1px solid #ddd;
	display: none;
	margin-top: 20px;
	padding: 10px;
	width: 320px;
}
#downloads_list p {
	color: #000;
	font-weight: 600;
}
#admin_menubar ul.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#admin_menubar ul.menu li {
	border-right: 10px solid #fff;
	float: left;
	list-style-type: none;
	position: relative;
	width: 16.66%;
}
#admin_menubar ul.menu li:hover > ul.submenu {
	display: block;
}
#admin_menubar ul.submenu {
	background: #eee;
	box-shadow: 0 10px 10px -10px #777;
	display: none;
	left: -10px;
	margin-top: -10px;
	position: absolute;
	width: 100%;
	z-index: 999;
}
#admin_menubar ul.submenu.lv2 {
	left: calc(100% - 15px);
	top: 10px;
}
#admin_menubar ul.submenu.lv2.left {
	left: auto;
	right: 100%;
	top: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#admin_menubar ul.submenu li {
	border: 0;
	border-bottom: 1px dotted #777;
	float: none !important;
	margin: 0;
	text-indent: 0;
	width: 100% !important;
}
#admin_menubar ul.menu > li > a.btn {
	background: #2A317F !important;
	border-left: 20px solid #0085C6 !important;
	color: #fff !important;
	font-size: 16px;
	font-weight: 600 !important;
	letter-spacing: .1em;
	line-height: 27px !important;
	padding: 8px 15px !important;
	text-transform: uppercase;
	width: 100%;
}
#admin_menubar ul.menu > li > a.btn i.fa {
	/* font-size: 62px !important; */
	/* left: 20px; */
	/* opacity: 0.5; */
	/* position: absolute;
	top: -8px;
	z-index: 10; */
}
#admin_menubar ul.submenu > li > a.btn {
	font-weight: 600;
	margin: 0;
	padding: 10px 15px !important;
	text-align: left;
	width: 100%;
}
#admin_menubar ul.submenu > li > a.btn i.fa {
	color: #000;
	width: 35px;
}
#admin_menubar .btn:hover {
	background: #0085C6 !important;
	color: #fff !important;
}
#admin_menubar .btn:hover i.fa {
	color: #fff !important;
}
#admin_menubar .btn i.fa {
	font-size: 22px !important;
	margin-right: 5px !important;
	margin-top: -2px !important;
	vertical-align: middle !important;
}

#users_filter_bar {
	
}
#users_filter_bar label {
	color: #2A317F;
	font-weight: 600;
	margin-bottom: 5px;
}
#users_filter_bar .list_filter {
	width: calc(33.33% - 6px);
	margin: 0 3px 5px;
}

ul.list li b {
	margin-bottom: 5px;
	display: block;
	max-height: 36px;
	overflow: hidden;
}
ul.list li span {
	color: #333;
	display: block;
	line-height: 18px;
	margin: 0 0 2px;
}
ul.list li span.date {
	display: inline-block;
}
ul.list.users_list li span {
	display: block;
	font-weight: 200;
	height: 20px;
	line-height: 18px;
	overflow: hidden;
}
a.show_psw {
	background: #eee;
	border: 1px solid #ddd;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	width: 35px;
}
a.show_psw i.fa {
	margin: 0 auto;
}
.accessdata_block input[type=password] {
	clear: none !important;
	display: inline-block !important;
	width: 80% !important;
}

.dataTables_wrapper .dataTables_filter {
	margin-bottom: 15px;
}
table.dataTable {
	margin-bottom: 5px !important;
}

.mess_info {
	display: none;
	margin-top: 5px;
}
.mess_info p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 0;
}

#profile_info_col {
	background: #f6f6f6;
	padding: 20px;
}
#profile_info_col table.info,
#profile_info_col table.info tr,
#profile_info_col table.info td {
	background: none !important;
	border: none !important;
}
#profile_info_col table.info tr {
	margin-bottom: 2px !important;
}
#profile_info_col table.info td {
	font-size: 16px;
	margin: 2px 0;
}
#profile_info_col table.info td.label {
	background: #2A317F !important;
	color: #fff;
	font-weight: 600;
}
#profile_polls_wrapper {
	margin-bottom: 40px;
}
.poll_textarea {
	border: 1px solid #ddd;
	border-left: 3px solid #ccc;
	height: 100px;
	padding: 10px;
	width: 100%;
}
#poll_users_list_wrapper, #poll_users_voted_wrapper {
	background: #eee;
	display: none;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 20px;
	text-align: justify;
}
#poll_info_text {
	font-size: 14px;
	line-height: 22px;
	padding-right: 10px;
	text-align: justify;
}

#folder-list {
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#folder-list li {
	background: #2A317F;
	border-top-right-radius: 30px;
	cursor: pointer;
	display: inline-block;
	list-style-type: none;
	margin-right: 5px;
	padding: 0 25px 0 10px;
	text-indent: 0;
}
#folder-list li:hover,
#folder-list li.active {
	background: #0085C6 !important;
}
#folder-list li h5 {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	padding: 0;
}
.doc_folder {
	border-top: 10px solid #0085C6;
	display: none;
	padding-top: 20px;
}

.filedoc_wrapper {
	background: #f6f6f6;
	margin-bottom: 20px;
	padding: 20px 20px 5px 20px;
	width: 95%;
}
i.advice {
	background: #e5aa09;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	padding: 3px 10px;
}
form.admin .filedoc_wrapper input[type="text"],
form.admin .filedoc_wrapper input[type="file"],
form.admin .filedoc_wrapper input[type="password"],
form.admin .filedoc_wrapper textarea,
form.admin .filedoc_wrapper select {
	width: 100%;
}
form.admin .filedoc_wrapper textarea {
	min-height: 100px;
}
#addfile_btn, #addoption_btn, #addquestion_closed_btn, #addquestion_open_btn {
	background: #000 !important;
	border: 1px solid #ccc !important;
	color: #fff !important;
	padding: 4px 10px !important;
}
.qst_item {
	background: #ddd;
	margin-bottom: 15px;
	padding: 10px 20px;
	position: relative;
}
.qst_clone {
	background: #000;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 26px;
	left: -12px;
	line-height: 24px;
	position: absolute;
	text-align: center;
	top: calc(50% - 14px);
	width: 26px;
}
.qst_clone i.fa {
	color: #fff !important;
	margin: 0;
}
#vote_form .qst_item {
	background: transparent;
	margin-bottom: 15px;
	padding: 0;
}
.qst_item .addoption_btn {
	background: #000 !important;
	border: 1px solid #ccc !important;
	color: #fff !important;
	padding: 2px 10px !important;
	font-size: 12px;
	float: right;
	margin-top: -40px;
}

#topbar {
	background: #aaa;
	color: #fff;
	line-height: 50px;
	padding: 0 10px;
}
#topbar b {
	/* color: #2A317F; */
	text-shadow: none;
}
#topbar .btn {
	margin-top: 5px;
}
#topbar i.fa {
	font-size: 20px;
	margin-right: 5px;
	padding-bottom: 1px;
	vertical-align: middle;
}
#topbar .second_col {
	text-align: right;
}
#testata, #testata * {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
}
#testata .mini, #testata .mini * {
	font-size: 14px;
}
#testata .mini a {
	font-weight: 600;
}

#message_field_wrapper {
	position: relative;
	width: 95%;
}
#message_field_wrapper textarea {
	width: 100%;
}
#message_char_counter {
	background: #eee;
	bottom: 0;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	z-index: 100;
}
#message_char_counter.ok {
	background: #c5ffa8;
}
#message_char_counter.ko {
	background: #f9c7c7;
}

#users_list input[type="text"],
#users_list input[type="file"],
#users_list input[type="password"],
#users_list textarea,
#users_list select,
#users_list select {
	margin-bottom: 10px;
}
.users_report_bar {
	background: #f6f6f6;
	float: left;
	height: 34px;
	margin-bottom: 10px;
	padding: 10px;
	width: 49%;
}
.users_report_bar span {
	color: #0085C6;
	font-weight: 600;
}
.users_report_bar i.fa {
	margin-right: 5px;
}
.users_report_bar div.sep {
	display: inline-block;
	margin: 0 10px;
}
#txt_search {
	float: left;
	width: 50%;
}

#sms_alertbox {
	background: #f6f6f6;
	height: 34px;
	margin-bottom: 20px;
	padding: 10px;
	width: 95%;
}
#sms_alertbox span {
	color: #0085C6;
	font-weight: 600;
}
#sms_alertbox i.fa {
	margin-right: 5px;
}

.sect_panel {
	background: #f6f6f6;
	margin: 40px 0;
	padding: 20px;
	width: 95%;
}
.sect_panel.full {
	width: 100%;
}
#opt_panel {
	
}
.opt_row, .qst_row {
	clear: both;
	display: block;
	height: 34px;
	margin-bottom: 5px;
	width: 100%;
}
.opt_row input[type=text], .qst_row input[type=text] {
	float: left;
	margin-bottom: 0 !important;
	width: calc(100% - 30px);
}
.opt_row a, .qst_row a {
	background: #fff;
	border: 1px solid #ddd;
	display: block;
	float: left;
	height: 34px;
	line-height: 30px;
	text-align: center;
	width: 34px;
}
.opt_row a i, .qst_row a i {
	margin-left: 10px;
}
.opt_wrapper {
	clear: both;
	display: block;
	height: 20px;
	margin-bottom: 10px;
	width: 100%;
}
.opt_wrapper input[type=radio] {
	float: left;
	margin-right: 5px;
}
.opt_wrapper label {
	clear: none;
	cursor: pointer;
	float: left;
}
.opt_wrapper label:hover {
	color: #111;
	font-weight: 600;
}

/* AGGIORNAMENTI 2021 */

#users_filters_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#work_selects {
	background: #fff1c9;
	margin-bottom: 20px;
	padding: 20px 20px 10px;
}
.accessdata_block {
	background: #eee;
	margin: 20px 0;
	padding: 20px;
}
.submit_row {
	background: #eee;
	margin-top: 20px;
	padding: 20px 10px 10px;
}

hr.bold {
	border-bottom: 1px solid #2A317F;
	margin: 30px 0;
}

#add_fixed_term_row {
	color: #fff !important;
}
#fixed_term_title {
	margin-bottom: 20px;
}
.fixed_term_row > div i.fa {
	font-size: 22px;
	color: #d90000;
	padding-top: 22px;
}
.fixed_term_row.clone {
	display: none;
}

#report_filter_block {
	background: #f6f6f6;
	margin-bottom: 20px;
	padding: 20px 20px 0;
}
#report_filter_block p {
	color: #2A317F;
	font-size: 16px;
	font-weight: bold;
}
.report_tab {
	max-width: 600px;
}
.report_tab .closing_row td {
	font-weight: 600;
}
#report_notes_list li {
	list-style-type: square;
}

.check_list li {
	list-style-type: none;
}
.check_list li label {
	color: #000;
	display: inline-block;
	font-weight: 600;
}
.check_list li label input[type=checkbox] {
	margin-right: 10px;
}

/* AGGIORNAMENTI 2024 */

#topbar {
	background: #111756;
}
#content > div:first-of-type {
	margin: -20px 0 20px -20px;
	border: 0;
	width: calc(100% + 40px);
	height: 40px;
}
#admin_menubar ul.menu {
	height: 40px;
}
#admin_menubar ul.menu > li {
	border-right: 1px solid #ccc !important;
	text-indent: 0;
}
#admin_menubar ul.menu > li > ul {
	margin-left: 10px;
}
#admin_menubar ul.menu > li > a.btn {
	border-left: 0 !important;
}
#admin_menubar ul.menu > li > a.btn {
	letter-spacing: .01em;
}
li.have_submenu {
	position: relative;
}
li.have_submenu::after {
	content: "➤";
	position: absolute;
	right: 10px;
	font-size: 16px;
	top: 50%;
	transform: translateY(-50%);
}

.filter_row {
	background: #eee;
	border-radius: 5px;
	padding: 18px 10px 10px;
	margin-bottom: 20px;
}
.filter_row label {
	display: block;
	font-weight: 600;
	margin-bottom: 3px;
}
.filter_row input[type="text"], .filter_row input[type="date"], .filter_row select {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	width: 100%;
}
.filter_row label.checkbox {
	margin-top: 17px;
	background: #fff;
	padding: 8px 10px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 34px;
	display: inline-block;
	cursor: pointer;
}
.filter_row input[type="checkbox"] {

}
.filter_action_wrapper {
	padding: 0 10px;
}
.filter_row button {
	margin-top: 18px;
}
.filter_row button, .filter_row a {
	border-radius: 5px !important;
	padding: 6px 15px;
}
.filter_row button:hover, .filter_row a:hover {
	opacity: .9;
}
.filter_row button i, .filter_row a i.fa {
	font-size: 20px !important;
	margin-right: 5px;
}

.detail_form {
	/* max-width: 1200px; */
}
.detail_form * {
	max-width: 100%;
	box-sizing: border-box;
}
.detail_form label:not(.list) {
	color: #2A317F;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
}
.detail_form label.list {
	display: block;
	margin-bottom: 5px;
}

.amount_detail_box {
	background: #f6f6f6;
	padding: 20px;
}
.amount_detail_box input, .amount_detail_box select {
	background: #fff;
}
.amount_detail_box .row_number_wrapper {
	/* border: 1px solid red; */
	float: left;
	width: 50px;
}
.amount_detail_box .row_number {
	display: block;
	font-size: 20px;
	padding: 8px;
	font-weight: 600;
}
.amount_detail_box a.btn {
	line-height: 14px;
	padding: 5px 10px;
}
.amount_detail_box a.btn i.fa {
	font-size: 22px;
	margin: 0;
}

#calculated_amount_by_sum {
	font-weight: 100;
	color: #777;
	display: inline-block;
	margin-left: 20px;
}

.detail_title_row {
	margin-bottom: 15px;
	font-weight: 600;
}
.detail_title_row .num_col {
	width: 50px;
	display: block;
	float: left;
	min-height: 10px;
}
.detail_title_row > div {
	background: #111756;
	color: #fff;
	/* border-radius: 5px; */
	border: 1px solid #ccc;
	height: 32px;
	padding: 7px 10px 5px;
}

.numres {
	background: #2A317F;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	/* letter-spacing: -.1em; */
	margin-left: 2px;
	padding: 3px 10px 3px 8px;
}

.tab_list {
	border: 0;
}
.tab_list th {
	background: #2A317F;
	color: #fff;
	font-weight: 200;
	text-shadow: none;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px;
	border: 0;
	border-left: 1px solid #fff;
}
.tab_list td {
	border: 1px solid #ddd;
}
.tab_list tr.minus td.amount {
	color: #d90000;
	font-weight: 600;
}

.cost_info_icon {
	cursor: pointer;
	display: block;
	margin: 0 auto !important;
	padding: 0;
}


.balances_list_row > div.main {
	width: 100% !important;
}
.balances_list_row > div.main.shrinked {
	width: 70% !important;
}
.balances_list_row > div.side {
	padding-left: 0;
	width: 0 !important;
	overflow: hidden;
	height: 0;
}
.balances_list_row > div.side.expanded {
	width: 30% !important;
	padding-left: 40px;
	height: auto;
}
h1.balance_list_title {
	position: relative;
}
a.balance_add_btn_link {
	position: absolute;
	right: -20px;
	top: 5px;
	z-index: 10;
	background: #111756;
	padding: 10px 20px;
	font-size: 16px !important;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1;
}
a.balance_add_btn_link:hover {
	background: #1798D7;
}

/* ========== COMPONENTS OVERRIDE ========== */

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	color: #555 !important;
}

.fa.fa-map-marker {
	padding-left: 5px;
}

/* ========== RESPONSIVE ========== */

@media all and (min-width: 1920px) {
	#admin_menubar .btn { /* width: 9.7% !important; */ padding: 8px 5px !important; }
}
@media all and (max-width: 1440px) {
	#admin_menubar ul.menu > li > a.btn { border-left: 10px solid #0085C6 !important; letter-spacing: 0; padding: 8px 10px !important; }
	#admin_menubar ul.submenu > li > a.btn { padding: 10px !important; }
	#admin_menubar ul.submenu > li > a.btn i.fa { width: 25px; }
}
@media all and (max-width: 768px) {
	h1, h2, h3, h4, h5, h6 { margin-top: 0; }
	#wrapper header { height: auto; border-bottom: 0; }
	#wrapper header .c4, #wrapper header .c8, #topbar .c6 { width: 50% !important; margin-bottom: 0 !important; }
	#topbar { position: sticky; top: 0; z-index: 9999; }
	#folder-list li { border-top-right-radius: 0; display: block; margin-right: 0; padding: 5px 10px 5px 10px; }
	#folder-list li h5 { margin-bottom: 0; }
	.doc_folder { border-top: 0; }
}
@media all and (max-width: 480px) {
	#wrapper header .c4, #wrapper header .c8, #topbar .c6 { width: 100% !important; }
	#login_box { padding: 20px; }
	#login_box::after { display: none; }
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c1-5, .c1-8 { margin-bottom: 10px !important; }
	p { font-size: 14px; line-height: 20px; }
	#wrapper #content { padding: 20px 0px; }
	#testata, #testata * { font-size: 16px; line-height: 24px; }
	#testata .c8 { margin-bottom: 0 !important; }
	#topbar .first_col i.fa { display: none; }
	#topbar b { display: block; }
	#topbar .first_col { margin-bottom: 0 !important; line-height: 20px; padding: 10px; }
	#topbar .btn { position: absolute; top: -50px; right: 10px; }
	#topbar .second_col { margin-bottom: 0 !important; text-align: center; }
	h1 {	font-size: 24px;	line-height: 28px; }
	table.info, table.info tbody, table.info tr, table.info tr td { width: 100% !important; display: block; }
	h4 {	margin: 20px 0 20px; font-size: 22px; line-height: 26px; }
	#profile_info_col h4 { margin-top: 0; }
	#docs_list li, #users_list li, .docs_list_exp li { width: 100%; height: auto; }
	#wrapper footer {	font-size: 12px;	margin-top: 0; padding: 10px 10px 0; line-height: 16px; }
	h1 img { height: 40px; }
	table.info td, th { padding: 5px; }
	table.info tr { border: 0 !important; }
}